In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

In [10]:
import mysql.connector

In [6]:
# Connect to the database
conn = sqlite3.connect('SalesDB')

In [12]:
import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Connect to the database
conn = mysql.connector.connect(
    host='localhost',
    user='bkh42',
    password='01Cov2020Can',
    database='SalesDB'
)

# Verify connection
query = "SHOW TABLES;"
tables = pd.read_sql(query, conn)
print(tables)

ProgrammingError: 1045 (28000): Access denied for user 'bkh42'@'localhost' (using password: YES)

In [7]:
import os

# Ensure the path to your database is correct
db_path = os.path.join(os.getcwd(), 'SalesDB')
conn = sqlite3.connect(db_path)

print(f"Connected to database at: {db_path}")

Connected to database at: /Users/bkh42/SalesDataAnalysis/notebooks/SalesDB

In [9]:


# Connect to the database
conn = sqlite3.connect('SalesDB')

# List tables
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Tables in the database:", tables)

# Close the connection
conn.close()

Tables in the database: []

In [7]:
# Total Sales by Region
query = '''
SELECT * FROM Transactions;
'''

In [8]:
sales_by_region = pd.read_sql_query(query, conn)

DatabaseError: Execution failed on sql '
SELECT * FROM Transactions;
': no such table: Transactions

##